{
	"semi": false,
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "all",
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": ["*.json", "*.jsonc"],
			"options": { "trailingComma": "none" }
		},
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
